<!-- footer -->
<section id="footer-section">
    <h1>Tushar Mohan</h1>
    <div id="footerlinks">
        <a href="#">Home</a>
        <a href="#">My Skills</a>
        <a href="#">Projects</a>
        <a href="#">About Me</a>
        <a href="#">Contact</a>
    </div>
    <p id="copyright">Copyright &copy; Tushar Mohan 2024</p>
    <p>All rights reserved</p>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="javascript/home.js"></script>
</body>

</html>