<%- include("partials/header.ejs")  %>
    <!-- head section start -->
    <section class="head" id="home-section">
        <div id="main-head">
            <div id="head-text">
                <h1>I'm <span id="head-name">Tushar</span></h1>
                <p>Web Developer and much more..!!!</p>
                <p>Always Learning New Things</p>
                <div id="social-icons">
                    <a href="#"> <i class="fa-brands fa-facebook"></i></a>
                    <a href="#"> <i class="fa-brands fa-instagram"></i></a>
                    <a href="#"> <i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
            <div id="head-img">
                <img src="images/home-images/headimg.png" alt="">
            </div>
        </div>
    </section>
    <!-- head section end -->

    <!-- skills Section start -->
    <section id="skills-section">
        <div id="skills-head">
            <h1>My Skills</h1>

        </div>
        <div id="coding-skills-cont">
            <h2>Coding Skills</h2>
            <div class="code-card-cont">
                <div class="code-card-two">
                    <div class="code-card">
                        <div class="code-img-card">
                            <img src="images/skills/html.png" alt="">
                        </div>
                        <div class="code-text">
                            <h4>HTML</h4>
                            <p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </p>
                        </div>
                    </div>

                    <div class="code-card">
                        <div class="code-img-card">
                            <img src="images/skills/css.png" alt="">
                        </div>
                        <div class="code-text">
                            <h4>CSS</h4>
                            <p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="code-card-two">
                    <div class="code-card">
                        <div class="code-img-card">
                            <img src="images/skills/JS.png" alt="">
                        </div>
                        <div class="code-text">
                            <h4>JavaScript</h4>
                            <p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </p>
                        </div>
                    </div>

                    <div class="code-card">
                        <div class="code-img-card">
                            <img src="images/skills/bootstrap.png" alt="">
                        </div>
                        <div class="code-text">
                            <h4>Bootstrap</h4>
                            <p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="code-card-cont">
                <div class="code-card-two">
                    <div class="code-card">
                        <div class="code-img-card">
                            <img src="images/skills/jquery.png" alt="">
                        </div>
                        <div class="code-text">
                            <h4>jquery</h4>
                            <p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </p>
                        </div>
                    </div>
                    <div class="code-card">
                        <div class="code-img-card">
                            <img src="images/skills/node.png" alt="">
                        </div>
                        <div class="code-text">
                            <h4>Node.js</h4>
                            <p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="code-card-two">
                    <div class="code-card">
                        <div class="code-img-card">
                            <img src="images/skills/express.png" alt="">
                        </div>
                        <div class="code-text">
                            <h4>Express.js</h4>
                            <p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </p>
                        </div>
                    </div>

                    <div class="code-card">
                        <div class="code-img-card">
                            <img src="images/skills/github.png" alt="">
                        </div>
                        <div class="code-text">
                            <h4>GitHub</h4>
                            <p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div id="other-skills-cont">
            <h2>Other Tech Skills</h2>
            <div id="other-skills">
                <div class="skill-col">
                    <div class="progress skill" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="bg-primary progress-bar skill-name" style="width: 80%">
                            <p> WordPress</p>
                        </div>
                    </div>
                    <div class="progress skill" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="bg-secondary progress-bar skill-name" style="width: 90%">
                            <p>MS Office (Word, Excel, PowerPoint)</p>
                        </div>

                    </div>
                    <div class="progress skill" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="bg-success progress-bar skill-name" style="width: 95%">
                            <p>Chat GPT</p>
                        </div>
                    </div>
                    <div class="progress skill" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="bg-danger progress-bar skill-name" style="width: 75%">
                            <p>Typing (Hindi) - 25WPM</p>
                        </div>
                    </div>
                </div>
                <div class="skill-col">
                    <div class="progress skill" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="bg-warning progress-bar  skill-name " style="width: 88%">
                            <p>Photoshop</p>
                        </div>
                    </div>
                    <div class="progress skill" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="bg-info progress-bar skill-name" style="width: 80%">
                            <p>Premier Pro</p>
                        </div>
                    </div>
                    <div class="progress skill" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="bg-light-emphasis progress-bar skill-name" style="width: 85%">
                            <p>Typing (English) - 50WPM </p>
                        </div>
                    </div>
                    <div class="progress skill" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="bg-dark progress-bar skill-name" style="width: 95%">
                            <p>Gmail</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- skills Section end -->


    <!-- Projects Section Start -->
    <section id="projects-section-cont">
        <section id="projects-section">
            <h1>My Projects</h1>
            <div class="projects-row-cont">

                <div class="project-card-two">
                    <div class="project-card">
                        <div class="project-img">
                            <img src="images/projects/todo n.png" alt="Project Img">
                        </div>
                        <div class="project-text">
                            <h3>To-do List App</h3>
                            <p>A website which can be used to manage your daily tasks.</p>
                            <p><strong>Tech: </strong> HTML, CSS, JavaScript</p>
                        </div>
                        <div class="project-btn-cont">
                            <button class="website-btn"><a href="https://tusharmohan1411.github.io/todoList/" target="_blank">Website <i class="fa-solid fa-earth-americas"></i> </a></button>
                            <button class="github-btn"><a href="https://github.com/TusharMohan1411/todoList" target="_blank">GitHub <i class="fa-brands fa-github"></i></a></button>
                        </div>
                    </div>

                    <div class="project-card">
                        <div class="project-img">
                            <img src="images/projects/password n.png" alt="Project Img">
                        </div>
                        <div class="project-text">
                            <h3>Password Generator</h3>
                            <p>With this website, you can generate strong passwords.</p>
                            <p><strong>Tech: </strong> HTML, CSS, JavaScript</p>
                        </div>
                        <div class="project-btn-cont">
                            <button class="website-btn"><a href="#">Website <i class="fa-solid fa-earth-americas"></i> </a></button>
                            <button class="github-btn"><a href="#">GitHub <i class="fa-brands fa-github"></i></a></button>
                        </div>
                    </div>
                </div>


                <div class="project-card-two">
                    <div class="project-card">
                        <div class="project-img">
                            <img src="images/projects/weather n.png" alt="Project Img">
                        </div>
                        <div class="project-text">
                            <h3>Weather App</h3>
                            <p>This app helps to find weather conditions of any location.</p>
                            <p><strong>Tech: </strong> HTML, CSS, JavaScript</p>
                        </div>
                        <div class="project-btn-cont">
                            <button class="website-btn"><a href="#">Website <i class="fa-solid fa-earth-americas"></i> </a></button>
                            <button class="github-btn"><a href="#">GitHub <i class="fa-brands fa-github"></i></a></button>
                        </div>
                    </div>

                    <div class="project-card">
                        <div class="project-img">
                            <img src="images/projects/qr n.png" alt="Project Img">
                        </div>
                        <div class="project-text">
                            <h3>QR Code Generator</h3>
                            <p>An app by which you can generate QR Code of any URL.</p>
                            <p><strong>Tech: </strong> HTML, CSS, JavaScript, Node.js</p>
                        </div>
                        <div class="project-btn-cont">
                            <button class="website-btn"><a href="#">Website <i class="fa-solid fa-earth-americas"></i> </a></button>
                            <button class="github-btn"><a href="#">GitHub <i class="fa-brands fa-github"></i></a></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="projects-row-cont">

                <div class="project-card-two">
                    <div class="project-card">
                        <div class="project-img">
                            <img src="images/projects/bmi n.png" alt="Project Img">
                        </div>
                        <div class="project-text">
                            <h3>BMI Calculator</h3>
                            <p>This website helps to find our Body Mass Index.</p>
                            <p><strong>Tech: </strong> HTML, CSS, JavaScript</p>
                        </div>
                        <div class="project-btn-cont">
                            <button class="website-btn"><a href="#">Website <i class="fa-solid fa-earth-americas"></i> </a></button>
                            <button class="github-btn"><a href="#">GitHub <i class="fa-brands fa-github"></i></a></button>
                        </div>
                    </div>

                    <div class="project-card">
                        <div class="project-img">
                            <img src="images/projects/band n.png" alt="Project Img">
                        </div>
                        <div class="project-text">
                            <h3>Drum Player</h3>
                            <p>This website provides you drums to play by just clicking on them.</p>
                            <p><strong>Tech: </strong> HTML, CSS, JavaScript, Node.js, Express.js</p>
                        </div>
                        <div class="project-btn-cont">
                            <button class="website-btn"><a href="#">Website <i class="fa-solid fa-earth-americas"></i> </a></button>
                            <button class="github-btn"><a href="#">GitHub <i class="fa-brands fa-github"></i></a></button>
                        </div>
                    </div>
                </div>


                <div class="project-card-two">
                    <div class="project-card">
                        <div class="project-img">
                            <img src="images/projects/stopwatch n.png" alt="Project Img">
                        </div>
                        <div class="project-text">
                            <h3>Stopwatch</h3>
                            <p>This is a stopwatch. You can use this to read timings of your tasks.</p>
                            <p><strong>Tech: </strong> HTML, CSS, JavaScript</p>
                        </div>
                        <div class="project-btn-cont">
                            <button class="website-btn"><a href="#">Website <i class="fa-solid fa-earth-americas"></i> </a></button>
                            <button class="github-btn"><a href="#">GitHub <i class="fa-brands fa-github"></i></a></button>
                        </div>
                    </div>

                    <div class="project-card">
                        <div class="project-img">
                            <img src="images/projects/word counter n.png" alt="Project Img">
                        </div>
                        <div class="project-text">
                            <h3>Word Counter</h3>
                            <p>A website in which you can count words and characters.</p>
                            <p><strong>Tech: </strong> HTML, CSS, JavaScript</p>
                        </div>
                        <div class="project-btn-cont">
                            <button class="website-btn"><a href="#">Website <i class="fa-solid fa-earth-americas"></i> </a></button>
                            <button class="github-btn"><a href="#">GitHub <i class="fa-brands fa-github"></i></a></button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="projects-row-cont">
                <div class="project-card-two">
                    <div class="project-card">
                        <div class="project-img">
                            <img src="images/projects/darkmode n.png" alt="Project Img">
                        </div>
                        <div class="project-text">
                            <h3>Dark Mode</h3>
                            <p>This webpage can be converted from Light Mode to Dark Mode.</p>
                            <p><strong>Tech: </strong> HTML, CSS, JavaScript</p>
                        </div>
                        <div class="project-btn-cont">
                            <button class="website-btn"><a href="#">Website <i class="fa-solid fa-earth-americas"></i> </a></button>
                            <button class="github-btn"><a href="#">GitHub <i class="fa-brands fa-github"></i></a></button>
                        </div>
                    </div>


                    <div class="project-card">
                        <div class="project-img">
                            <img src="images/projects/gallery n.png" alt="Project Img">
                        </div>
                        <div class="project-text">
                            <h3>Image Gallery</h3>
                            <p>This is a Beautiful Image Gallery to showcase our pictures.</p>
                            <p><strong>Tech: </strong> HTML, CSS, JavaScript</p>
                        </div>
                        <div class="project-btn-cont">
                            <button class="website-btn"><a href="#">Website <i class="fa-solid fa-earth-americas"></i> </a></button>
                            <button class="github-btn"><a href="#">GitHub <i class="fa-brands fa-github"></i></a></button>
                        </div>
                    </div>
                </div>


                <div class="project-card-two">
                    <div class="project-card">
                        <div class="project-img">
                            <img src="images/projects/gym n.png" alt="Project Img">
                        </div>
                        <div class="project-text">
                            <h3>Gym Website</h3>
                            <p>The website is made up for Gym. Showing all features of Gym.</p>
                            <p><strong>Tech: </strong> HTML, CSS, JavaScript</p>
                        </div>
                        <div class="project-btn-cont">
                            <button class="website-btn"><a href="#">Website <i class="fa-solid fa-earth-americas"></i> </a></button>
                            <button class="github-btn"><a href="#">GitHub <i class="fa-brands fa-github"></i></a></button>
                        </div>
                    </div>


                    <div class="project-card">
                        <div class="project-img">
                            <img src="images/projects/project-card.jpg" alt="Project Img">
                        </div>
                        <div class="project-text">
                            <h3>Mohit Builders</h3>
                            <p>Example website for Builders and Constructor Companies.</p>
                            <p><strong>Tech: </strong> HTML, CSS, JavaScript</p>
                        </div>
                        <div class="project-btn-cont">
                            <button class="website-btn"><a href="#">Website <i class="fa-solid fa-earth-americas"></i> </a></button>
                            <button class="github-btn"><a href="#">GitHub <i class="fa-brands fa-github"></i></a></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!-- Projects Section End -->


    <!-- About Me Section Start -->
    <section id="aboutme-section">

        <div class="aboutme-cont">
            <!-- about me image -->

            <div class="aboutme-img">
                <img src="images/about-me/profile 2.png" alt="" class="img-fluid" id="hello">
            </div>

            <!-- about me text -->
            <div class="aboutme-text">
                <h1>About Me</h1>
                <p>Hey there! My name is Tushar Mohan. I am a Web Designer and Developer. I can design beautiful websites and also enhance quality of existing websites. I also have good experience in Photoshop. I love designing Posters and Social Media Posts
                    in Photoshop.
                </p>
                <button class="m-btn">My Portfolio</button>
            </div>

        </div>

    </section>
    <!-- About Me Section End -->

    <!-- Contact Me Section Start -->
    <section id="contact-section">
        <div id="contact-section-cont">
            <div id="contactme">
                <div id="contactme-head">
                    <h2>Contact Me</h2>
                    <p>Have Questions or feedback! I'm here to help. Send me a message and I will respond within 24 hours. </p>
                </div>
                <hr>
                <div id="contactme-form">
                    <form action="mailto:tusharmohan0416@gmail.com" method="post">
                        <input type="text" id="form-name" placeholder="Your Name">
                        <input type="email" id="form-email" placeholder="Email Id">
                        <input type="tel" id="form-mobile" placeholder="Mobile No">
                        <textarea id="message" cols="10" rows="5" placeholder="Write your message here."></textarea>
                        <input type="submit" id="submit-contact" class="m-btn" value="Send Message">
                    </form>
                </div>
                <!-- <div id="contactme-btn">
                </div> -->
            </div>
            <div id="my-details-cont">
                <div id="my-details-img">
                    <img src="images/contact/contact5.jpg" alt="contact image">
                </div>
                <div id="my-details-text">
                    <div class="my-details-text-card">
                        <div class="mdt-card-icon">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="mdt-card-text">
                            <!-- <h5>Email</h5> -->
                            <p>tusharmohan0416@gmail.com</p>
                        </div>
                    </div>

                    <div class="my-details-text-card">
                        <div class="mdt-card-icon">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="mdt-card-text">
                            <!-- <h5>Phone</h5> -->
                            <p>+91 7404-235-458</p>
                        </div>
                    </div>

                    <div class="my-details-text-card">
                        <div class="mdt-card-icon">
                            <i class="fa-solid fa-house"></i>
                        </div>
                        <div class="mdt-card-text">
                            <!-- <h5>Address</h5> -->
                            <p>Haryana, India</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Me Section End -->


    <%- include("partials/footer.ejs")  %>